@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=DM+Sans&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@500;800&family=Julius+Sans+One&family=Nunito+Sans&family=Roboto+Condensed:wght@700&family=Roboto&family=Space+Grotesk:wght@500&family=Single+Day&family=Rubik+Mono+One&display=swap');

.movies-container{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.movies-container h2{
    color:#72DB73;
    font-family: 'Single Day', cursive;
    font-size: 40px;
    line-height: 50px;
    text-align: start;
    margin-left: 50px;
}
.movies-container h3{
    color:white;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 100px;
    margin-top:40px;

}
.home-btn{
    position: relative;
    left:90%;
    bottom:100px;
    outline: none;
    border:none;
    background: black;
    cursor:pointer;
    width:50px;
    height:50px;
}
.home-btn img{
    width:50px;
    height: 50px;
}
.categories-section{
    color:white;
    display:flex;
    flex-direction: column;
    margin-bottom:20px;
    



}
.categories-section h2{
    color:#878787;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-left: 100px;
    margin-bottom: 20px;
}

.movies_section{
    display: flex;
    margin-left: 100px;;
    gap: 80px; /* Adjust the gap between movies as needed */
    flex-wrap: nowrap; 
    margin-bottom: 30px;
}
.movie{
    width:200px;
    height:200px;
    
    border-radius: 10px;

}
.movie h3{
    color:white;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
}
.movie img{
    width:100%;
    height:100%;
    border-radius: 10px;
}
