@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=DM+Sans&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@500;800&family=Julius+Sans+One&family=Nunito+Sans&family=Roboto+Condensed:wght@700&family=Roboto&family=Space+Grotesk:wght@500&family=Single+Day&family=Rubik+Mono+One&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-direction: row;
}
.hleft{
    display: flex;
    flex-direction: column;
}
.profile{
    background: #5746EA;
    border-radius: 20px;
    width:500px;
    height:220px;
    display:flex;
    flex-direction: row;
    position:absolute;
    left:5%;
    top:4%;
}
.profile img{
    width:20%;
    height:85%;
    margin-left:20px;
    margin-top:20px;
    position: relative;
    left:20px;
    float:left;
}
.details{
    margin-left:60px;
    margin-top: 30px;
    text-align: start;
}
.details h3{
    color:white;
    font-family:"Roboto",sans-serif;
    font-size:18px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
}
.details h1{
    color:white;
    font-family:"Roboto",sans-serif;
    font-size:25px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 14px;
}
.list{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    border-radius:10px;
    row-gap: 10px;
    column-gap: 10px;
    margin-top: 20px;
}
.list h2{
    background:#9F94FF;
    color:white;
    font-family:"Roboto",sans-serif;
    font-size:14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    border-radius:20px;
    text-align: start;
    height:28px;
    padding:6px 15px;
}





.browse-btn{
 position: absolute;
 left:86%;
 top:92%;
 padding:5px 14px;
 width: 130px;
 height: 30px;
 border-radius: 20px;
 background-color: #148A08;
 outline: none;
 border: none;
 color: white;
 font-size: 16px;
 font-family: 'DM Sans', sans-serif;
 font-weight: 500;
 line-height: 20px;
 letter-spacing: 1px;
 cursor: pointer;

}


