@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=DM+Sans&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@500;800&family=Julius+Sans+One&family=Nunito+Sans&family=Roboto+Condensed:wght@700&family=Roboto&family=Space+Grotesk:wght@500&family=Single+Day&family=Rubik+Mono+One&display=swap');

.news-container{
    float:right;
    position: relative;
    left:920px;
   
}
.news-details{
    width:350px;
    height:600px;
    position: relative;
    left:200px;
    top:30px;
    border-radius: 10px;
    background-color: white;
}
.news-title{
    background-color: rgba(0,0,0,0.5);
    position: relative;
    bottom:104px;
    height:100px;
}
.news-title h3{
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
    color:white;
    width:310px;
    margin-left:15px;
    text-align: justify;
    position: relative;
    top:10px;
    
    
    
    

}
.news-title h4{
    color:white;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    width:310px;
    margin-top: 20px;
    text-align: justify;
    margin-left:20px;


    
}

.news-details img{
  width:100%;
  height:70%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
.news-details p{
    color:#272727;
    font-family: "Roboto",sans-serif;
    font-size:14px;
    font-weight:400;
    width:310px;
    text-align:start;
    position: relative;
    bottom:70px;
    left:20px;


}