@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Carter+One&family=DM+Sans&family=Dangrek&family=Delius+Unicase:wght@400;700&family=Inter:wght@500;800&family=Julius+Sans+One&family=Nunito+Sans&family=Roboto+Condensed:wght@700&family=Roboto&family=Space+Grotesk:wght@500&family=Single+Day&family=Rubik+Mono+One&display=swap');

.notes-container{
    width:420px;
    height:400px;
    background:#F1C75B;
    position: absolute;
    top:4%;
    left:39%;
    border-radius: 20px;
    
}
.notes-area{
    padding: 20px;
    
}

  

.notes-area h2{
    font-family: "Roboto",sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 1px;
    color:black;
    text-align: start;
    padding:10px 0 0 10px;
}
textarea{
    outline: none;
    resize: none;
    border: none;
    background:#F1C75B;
    box-sizing: border-box;
    width:360px;
    height: 310px;
    font-size: 13px;
    line-height: 16px;
    padding:20px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color:black;
    text-align:justify;
    word-spacing: 1px;
}
textarea::-webkit-scrollbar {
    width: 8px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #FFE6A6;
    border-radius: 4px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #FFE6A6;
}